.logo-casamento{
  background-image: url("../../assets/img/foto_login.jpg"); /* URL da imagem do logo */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(0.8); /* Ajusta o brilho da imagem */
  height: 100vh; /* Garante que a imagem apareça ocupando a tela inteira */
  width: 100%;
  z-index: -500;
  position: fixed; /* Fixa a imagem de fundo */   
}

.caixa-principal{
    text-align: center;
  color: white;
  margin-bottom: 3rem;
  padding: 2rem;
 

}



.botao-entrar-wrapper {
  text-align: center;
}
button {
  font-weight: bold;
  font-size: 1.1rem;
  width: 150px;
  height: 100px;
}
mat-icon {
  margin-right: 0.5rem;
}
